## BOOLIAN MASKING

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('netflix_titles_2021.csv')

In [3]:
df.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

In [10]:
twopowers_sr=pd.Series([1,2,4,8,16,32,64,128])

In [11]:
BM=[False,True,False,True,False,True,False,True]

In [12]:
twopowers_sr[BM]

1      2
3      8
5     32
7    128
dtype: int64

In [13]:
BM = twopowers_sr<=50

In [14]:
twopowers_sr[BM]

0     1
1     2
2     4
3     8
4    16
5    32
dtype: int64

### Count of movies in 2020 for each country

In [15]:
BM = df.release_year == 2020

In [16]:
df[BM].country.value_counts()

United States                             336
India                                      75
United Kingdom                             44
South Korea                                28
Canada                                     26
                                         ...
Germany, Czech Republic                     1
United States, Bulgaria                     1
United Kingdom, France, Germany, Spain      1
Thailand, United States                     1
United States, South Korea, China           1
Name: country, Length: 107, dtype: int64

### DISPLAY THE COUNT OF RATINGS OF TV SHOWS IN EACH YEAR

In [18]:
df.rating.unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

#### PG-13

In [22]:
BM = df.rating=='PG-13'

In [24]:
df[BM].release_year.value_counts()

2016    34
2017    32
2018    30
2010    26
2015    25
2009    25
2008    24
2011    23
2020    21
2014    19
2012    19
2019    19
2005    16
2013    15
2007    15
2006    15
2002    14
2021    14
2000    10
2003    10
1995    10
1997     9
2001     8
1999     8
2004     7
1998     7
1996     6
1994     4
1993     4
1990     4
1988     3
1986     2
1989     2
1987     2
1991     2
1979     1
1992     1
1965     1
1968     1
1955     1
1984     1
Name: release_year, dtype: int64

### TV-MA

In [26]:
BM = df.rating=='TV-MA'

In [28]:
df[BM].release_year.value_counts()

2018    549
2019    500
2020    469
2017    451
2016    341
2021    270
2015    184
2014     79
2013     64
2012     54
2010     42
2011     27
2008     25
2009     18
2006     17
2007     17
2004     10
2003      8
2005      8
1998      7
2002      7
1999      5
1991      5
1983      4
1993      4
1990      3
1992      3
1997      3
1985      3
1989      2
1978      2
1975      2
1945      2
1979      2
2001      2
1972      2
1982      2
1984      1
1973      1
1986      1
1981      1
1988      1
1970      1
1994      1
1977      1
2000      1
1987      1
1995      1
1963      1
1976      1
1967      1
Name: release_year, dtype: int64

### PG

In [30]:
BM = df.rating=='PG'

In [31]:
df[BM].release_year.value_counts()

2018    31
2011    18
2014    15
2017    15
2020    15
2013    14
2016    14
2019    12
2021    11
2015    11
2007    10
2008    10
2009    10
2010     8
2006     8
2004     8
2012     7
2005     5
2001     5
2003     5
2002     4
1976     4
1984     4
2000     4
1993     4
1989     3
1994     3
1992     3
1981     2
1975     2
1982     2
1995     2
1978     2
1977     2
1986     2
1999     2
1983     1
1974     1
1973     1
1997     1
1980     1
1979     1
1985     1
1991     1
1990     1
1996     1
Name: release_year, dtype: int64

### NUMBER OF COUNTRIES WHICH RELEASED SHOWS ON SEPTEMBER 24, 2021

In [36]:
BM=df.date_added=='September 24, 2021'

In [37]:
df[BM].country.value_counts()

United States                             2818
India                                      972
United Kingdom                             419
Japan                                      245
South Korea                                199
                                          ...
Romania, Bulgaria, Hungary                   1
Uruguay, Guatemala                           1
France, Senegal, Belgium                     1
Mexico, United States, Spain, Colombia       1
United Arab Emirates, Jordan                 1
Name: country, Length: 748, dtype: int64

## BM1

In [45]:
BM=df.date_added=='September 24, 2021'

In [47]:
df[BM].country=='India'

0       False
1       False
2       False
3       False
4        True
        ...
8802    False
8803    False
8804    False
8805    False
8806     True
Name: country, Length: 8807, dtype: bool