### ON HOT ENCODING

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
warnings.filterwarnings('ignore')

In [2]:
df=sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [3]:
df=pd.get_dummies(df,drop_first=True)

In [4]:
df

,survived,pclass,age,sibsp,parch,fare,adult_male,alone,sex_male,embarked_Q,...,who_woman,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Queenstown,embark_town_Southampton,alive_yes
0,0,3,22.0,1,0,7.2500,True,False,1,0,...,0,0,0,0,0,0,0,0,1,0
1,1,1,38.0,1,0,71.2833,False,False,0,0,...,1,0,1,0,0,0,0,0,0,1
2,1,3,26.0,0,0,7.9250,False,True,0,0,...,1,0,0,0,0,0,0,0,1,1
3,1,1,35.0,1,0,53.1000,False,False,0,0,...,1,0,1,0,0,0,0,0,1,1
4,0,3,35.0,0,0,8.0500,True,True,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,13.0000,True,True,1,0,...,0,0,0,0,0,0,0,0,1,0
887,1,1,19.0,0,0,30.0000,False,True,0,0,...,1,1,0,0,0,0,0,0,1,1
888,0,3,NaN,1,2,23.4500,False,False,0,0,...,1,0,0,0,0,0,0,0,1,0
889,1,1,26.0,0,0,30.0000,True,True,1,0,...,0,0,1,0,0,0,0,0,0,1
890,0,3,32.0,0,0,7.7500,True,True,1,1,...,0,0,0,0,0,0,0,1,0,0

In [5]:
df.dropna(inplace=True)

In [6]:
df

,survived,pclass,age,sibsp,parch,fare,adult_male,alone,sex_male,embarked_Q,...,who_woman,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Queenstown,embark_town_Southampton,alive_yes
0,0,3,22.0,1,0,7.2500,True,False,1,0,...,0,0,0,0,0,0,0,0,1,0
1,1,1,38.0,1,0,71.2833,False,False,0,0,...,1,0,1,0,0,0,0,0,0,1
2,1,3,26.0,0,0,7.9250,False,True,0,0,...,1,0,0,0,0,0,0,0,1,1
3,1,1,35.0,1,0,53.1000,False,False,0,0,...,1,0,1,0,0,0,0,0,1,1
4,0,3,35.0,0,0,8.0500,True,True,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,39.0,0,5,29.1250,False,False,0,1,...,1,0,0,0,0,0,0,1,0,0
886,0,2,27.0,0,0,13.0000,True,True,1,0,...,0,0,0,0,0,0,0,0,1,0
887,1,1,19.0,0,0,30.0000,False,True,0,0,...,1,1,0,0,0,0,0,0,1,1
889,1,1,26.0,0,0,30.0000,True,True,1,0,...,0,0,1,0,0,0,0,0,0,1
890,0,3,32.0,0,0,7.7500,True,True,1,1,...,0,0,0,0,0,0,0,1,0,0

## SCALING METHOD

### MinMax Scaler

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
minmax=MinMaxScaler()

In [10]:
x=df[['age']]
x

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
885  39.0
886  27.0
887  19.0
889  26.0
890  32.0

[714 rows x 1 columns]

In [11]:
x_transformed=minmax.fit_transform(x)
x_transformed

array([[0.27117366],
       [0.4722292 ],
       [0.32143755],
       [0.43453129],
       [0.43453129],
       [0.67328474],
       [0.01985423],
       [0.33400352],
       [0.17064589],
       [0.04498618],
       [0.72354863],
       [0.24604172],
       [0.48479517],
       [0.17064589],
       [0.68585072],
       [0.01985423],
       [0.3842674 ],
       [0.43453129],
       [0.42196532],
       [0.18321186],
       [0.34656949],
       [0.09525006],
       [0.4722292 ],
       [0.23347575],
       [0.49736115],
       [0.8240764 ],
       [0.34656949],
       [0.52249309],
       [0.25860769],
       [0.22090978],
       [0.17064589],
       [0.49736115],
       [0.33400352],
       [0.03242021],
       [0.23347575],
       [0.22090978],
       [0.08268409],
       [0.25860769],
       [0.61045489],
       [0.35913546],
       [0.81151043],
       [0.25860769],
       [0.35285248],
       [0.05755215],
       [0.13294798],
       [0.27117366],
       [0.4722292 ],
       [0.560191  ],
       [0.04498618],
       [0.35913546],
       [0.23347575],
       [0.2083438 ],
       [0.32143755],
       [0.39683338],
       [0.19577783],
       [0.25860769],
       [0.32143755],
       [0.39683338],
       [0.30887158],
       [0.00515205],
       [0.37170143],
       [0.27117366],
       [0.35913546],
       [0.34656949],
       [0.2083438 ],
       [0.40939935],
       [0.19577783],
       [0.28373963],
       [0.2963056 ],
       [0.35913546],
       [0.24604172],
       [0.57275697],
       [0.32143755],
       [0.7361146 ],
       [0.88690626],
       [0.28373963],
       [0.42196532],
       [0.42196532],
       [0.34656949],
       [0.25860769],
       [0.40939935],
       [0.45966323],
       [0.34656949],
       [0.25860769],
       [0.4722292 ],
       [0.58532295],
       [0.17692888],
       [0.27117366],
       [0.24604172],
       [0.2083438 ],
       [0.25860769],
       [0.88062327],
       [0.35913546],
       [0.2963056 ],
       [0.01985423],
       [0.25860769],
       [0.40311636],
       [0.40311636],
       [0.67328474],
       [0.14551395],
       [0.2963056 ],
       [0.560191  ],
       [0.40939935],
       [0.24604172],
       [0.58532295],
       [0.35913546],
       [0.30887158],
       [0.28373963],
       [0.23347575],
       [0.45966323],
       [0.19577783],
       [0.2963056 ],
       [0.27117366],
       [0.2963056 ],
       [0.23347575],
       [0.22090978],
       [0.23347575],
       [0.33400352],
       [0.10781603],
       [0.45338025],
       [0.52249309],
       [0.63558683],
       [0.27117366],
       [0.6921337 ],
       [0.50364413],
       [0.63558683],
       [0.19577783],
       [0.37170143],
       [0.54762503],
       [0.49736115],
       [0.32143755],
       [0.2083438 ],
       [0.00728826],
       [0.10781603],
       [0.560191  ],
       [0.34656949],
       [0.76124654],
       [0.04498618],
       [0.00728826],
       [0.25860769],
       [0.69841669],
       [0.22090978],
       [0.62302086],
       [0.37170143],
       [0.44709726],
       [0.10781603],
       [0.00728826],
       [0.04498618],
       [0.560191  ],
       [0.49736115],
       [0.44709726],
       [0.39683338],
       [0.23347575],
       [0.23347575],
       [0.03242021],
       [0.54762503],
       [0.72354863],
       [0.52249309],
       [0.2963056 ],
       [0.34656949],
       [0.42196532],
       [0.56647399],
       [0.22090978],
       [0.01985423],
       [0.39683338],
       [0.32143755],
       [0.19577783],
       [0.49736115],
       [0.2963056 ],
       [0.43453129],
       [0.27117366],
       [0.37170143],
       [0.3842674 ],
       [0.33400352],
       [0.52249309],
       [0.39683338],
       [0.37170143],
       [0.19577783],
       [0.33400352],
       [0.63558683],
       [0.4722292 ],
       [0.27117366],
       [0.23347575],
       [0.2523247 ],
       [0.22090978],
       [0.43453129],
       [0.35913546],
       [0.7361146 ],
       [0.05755215],
       [0.2963056 ],
       [0.54762503],
       [0.09525006],
       [0.23347575],
       [0.40939935],
       [0.35913546],
       [0.27117366],
       [0.37170143],
       [0.54762503],
       [0.30887158],
       [0.2963056 ],
       [0.45966323],
       [0.67328474],
       [0.35913546],
       [0.77381252],
       [0.37170143],
       [0.50992712],
       [0.35913546],
       [0.37170143],
       [0.43453129],
       [0.62302086],
       [0.03242021],
       [0.6481528 ],
       [0.49736115],
       [0.44709726],
       [0.19577783],
       [0.30887158],
       [0.72354863],
       [0.43453129],
       [0.30887158],
       [0.50992712],
       [0.45966323],
       [0.78637849],
       [0.560191  ],
       [0.08268409],
       [0.43453129],
       [0.81151043],
       [0.34656949],
       [0.19577783],
       [0.23347575],
       [0.40939935],
       [0.37170143],
       [0.27117366],
       [0.52249309],
       [0.27117366],
       [0.32143755],
       [0.23347575],
       [0.44709726],
       [0.2963056 ],
       [0.2963056 ],
       [0.29002262],
       [0.01985423],
       [0.62302086],
       [0.23347575],
       [0.00628299],
       [0.2083438 ],
       [0.37170143],
       [0.37170143],
       [0.2963056 ],
       [0.22090978],
       [0.32143755],
       [0.34656949],
       [0.53505906],
       [0.32143755],
       [0.2963056 ],
       [0.67328474],
       [0.3842674 ],
       [0.49736115],
       [0.27117366],
       [0.33400352],
       [0.37170143],
       [0.27117366],
       [0.44709726],
       [0.76124654],
       [0.44709726],
       [0.3842674 ],
       [0.19577783],
       [0.56647399],
       [0.4722292 ],
       [0.19577783],
       [0.35913546],
       [0.50992712],
       [0.560191  ],
       [0.560191  ],
       [0.01985423],
       [0.2963056 ],
       [0.34656949],
       [0.30887158],
       [0.44709726],
       [0.2963056 ],
       [0.49736115],
       [0.03242021],
       [0.52249309],
       [0.28373963],
       [0.18321186],
       [0.30887158],
       [0.34656949],
       [0.27117366],
       [0.4722292 ],
       [0.49736115],
       [0.35913546],
       [0.560191  ],
       [0.43453129],
       [0.37170143],
       [0.74868057],
       [0.2963056 ],
       [0.30887158],
       [0.22090978],
       [0.23347575],
       [0.27117366],
       [0.03242021],
       [0.27117366],
       [0.33400352],
       [0.24604172],
       [0.23347575],
       [0.52249309],
       [0.00728826],
       [0.39683338],
       [0.43453129],
       [0.22090978],
       [0.00728826],
       [0.44709726],
       [0.2083438 ],
       [0.44709726],
       [0.25860769],
       [0.34656949],
       [0.28373963],
       [0.2963056 ],
       [0.27117366],
       [0.3842674 ],
       [0.57275697],
       [0.28373963],
       [0.34656949],
       [0.48479517],
       [0.32143755],
       [0.25860769],
       [0.34656949],
       [0.24604172],
       [0.42196532],
       [0.63558683],
       [0.03242021],
       [0.25860769],
       [0.40939935],
       [0.54762503],
       [0.42196532],
       [0.22090978],
       [0.37170143],
       [0.12038201],
       [0.25860769],
       [0.35913546],
       [0.34656949],
       [0.22090978],
       [0.34656949],
       [0.23347575],
       [0.39683338],
       [0.34656949],
       [0.52249309],
       [0.2083438 ],
       [0.62302086],
       [0.17064589],
       [0.25860769],
       [0.2963056 ],
       [0.79894446],
       [0.3842674 ],
       [0.560191  ],
       [0.24604172],
       [0.30887158],
       [0.34656949],
       [0.04498618],
       [0.15807992],
       [0.42196532],
       [0.05755215],
       [0.6481528 ],
       [0.44709726],
       [0.37170143],
       [0.61045489],
       [0.35913546],
       [0.81151043],
       [0.62302086],
       [0.59788892],
       [0.42196532],
       [0.58532295],
       [0.59788892],
       [0.4722292 ],
       [0.69841669],
       [0.00414677],
       [0.4722292 ],
       [0.40939935],
       [0.28373963],
       [0.27117366],
       [0.42196532],
       [0.35913546],
       [0.27117366],
       [0.01985423],
       [0.10781603],
       [0.62302086],
       [0.78637849],
       [0.30887158],
       [0.43453129],
       [0.72354863],
       [0.37170143],
       [0.10781603],
       [0.25860769],
       [0.68585072],
       [0.88690626],
       [0.25860769],
       [0.67328474],
       [0.30887158],
       [0.2963056 ],
       [0.2083438 ],
       [0.25860769],
       [0.45966323],
       [0.19577783],
       [0.22090978],
       [0.40939935],
       [0.34656949],
       [0.32143755],
       [0.35913546],
       [0.44709726],
       [0.67328474],
       [0.2963056 ],
       [0.58532295],
       [0.42196532],
       [0.44709726],
       [0.39683338],
       [0.37170143],
       [0.27117366],
       [0.54762503],
       [0.50364413],
       [0.62302086],
       [0.48479517],
       [0.28373963],
       [0.01985423],
       [0.2083438 ],
       [0.37170143],
       [0.08268409],
       [0.560191  ],
       [0.37170143],
       [0.27117366],
       [0.44709726],
       [0.10781603],
       [0.13294798],
       [0.39683338],
       [0.62302086],
       [0.79894446],
       [0.23347575],
       [0.40939935],
       [0.09525006],
       [0.2083438 ],
       [0.33400352],
       [0.27117366],
       [0.27117366],
       [0.77381252],
       [0.59788892],
       [0.48479517],
       [0.44709726],
       [0.49736115],
       [0.34656949],
       [0.2963056 ],
       [0.23347575],
       [0.35913546],
       [0.39683338],
       [0.77381252],
       [0.66071877],
       [0.44709726],
       [0.19577783],
       [0.23347575],
       [0.42196532],
       [0.48479517],
       [0.39683338],
       [0.30887158],
       [0.48479517],
       [0.67328474],
       [0.44709726],
       [0.22090978],
       [0.58532295],
       [0.74868057],
       [0.27117366],
       [0.43453129],
       [0.6481528 ],
       [0.58532295],
       [0.45966323],
       [0.44709726],
       [0.61045489],
       [0.61045489],
       [0.2963056 ],
       [0.54762503],
       [0.43453129],
       [0.44709726],
       [0.37170143],
       [0.33400352],
       [0.27117366],
       [0.49736115],
       [0.48479517],
       [0.43453129],
       [0.2963056 ],
       [0.42196532],
       [0.32143755],
       [0.04498618],
       [0.32143755],
       [0.33400352],
       [0.52249309],
       [0.24604172],
       [0.25860769],
       [0.25860769],
       [0.76124654],
       [0.71098266],
       [0.25860769],
       [0.32143755],
       [1.        ],
       [0.63558683],
       [0.39683338],
       [0.10781603],
       [0.34656949],
       [0.39683338],
       [0.3842674 ],
       [0.50992712],
       [0.24604172],
       [0.2963056 ],
       [0.01985423],
       [0.00414677],
       [0.59788892],
       [0.23347575],
       [0.69841669],
       [0.28373963],
       [0.22090978],
       [0.25860769],
       [0.22090978],
       [0.2963056 ],
       [0.39683338],
       [0.28373963],
       [0.72354863],
       [0.62302086],
       [0.49736115],
       [0.58532295],
       [0.44709726],
       [0.24604172],
       [0.39683338],
       [0.30887158],
       [0.53505906],
       [0.49736115],
       [0.3842674 ],
       [0.87434029],
       [0.3842674 ],
       [0.22090978],
       [0.30258859],
       [0.22090978],
       [0.53505906],
       [0.44709726],
       [0.33400352],
       [0.24604172],
       [0.17064589],
       [0.74868057],
       [0.30887158],
       [0.17064589],
       [0.23347575],
       [0.22090978],
       [0.18321186],
       [0.3842674 ],
       [0.04498618],
       [0.30887158],
       [0.74868057],
       [0.6481528 ],
       [0.54762503],
       [0.61045489],
       [0.52249309],
       [0.22090978],
       [0.43453129],
       [0.22090978],
       [0.30887158],
       [0.32143755],
       [0.48479517],
       [0.560191  ],
       [0.52249309],
       [0.27117366],
       [0.2963056 ],
       [0.59788892],
       [0.35913546],
       [0.6481528 ],
       [0.23347575],
       [0.4722292 ],
       [0.33400352],
       [0.40939935],
       [0.07011812],
       [0.2083438 ],
       [0.42196532],
       [0.62302086],
       [0.33400352],
       [0.24604172],
       [0.37170143],
       [0.30887158],
       [0.30887158],
       [0.35913546],
       [0.13294798],
       [0.28373963],
       [0.28373963],
       [0.35285248],
       [0.59788892],
       [0.43453129],
       [0.44709726],
       [0.25860769],
       [0.2963056 ],
       [0.3842674 ],
       [0.87434029],
       [0.19577783],
       [0.37170143],
       [0.23347575],
       [0.3842674 ],
       [0.04498618],
       [0.07011812],
       [0.40939935],
       [0.28373963],
       [0.59788892],
       [0.00314149],
       [0.34656949],
       [0.22090978],
       [0.42196532],
       [0.40939935],
       [0.50992712],
       [0.24604172],
       [0.44709726],
       [0.19577783],
       [0.63558683],
       [0.37798442],
       [0.39683338],
       [0.2963056 ],
       [0.59788892],
       [0.71098266],
       [0.67328474],
       [0.22090978],
       [0.05755215],
       [0.53505906],
       [0.15807992],
       [0.2083438 ],
       [0.35913546],
       [0.30887158],
       [0.30887158],
       [0.22090978],
       [0.09525006],
       [0.00728826],
       [0.57275697],
       [0.19577783],
       [0.30887158],
       [0.48479517],
       [0.61045489],
       [0.3842674 ],
       [0.37170143],
       [0.37170143],
       [0.42196532],
       [0.3842674 ],
       [0.13294798],
       [0.        ],
       [0.33400352],
       [0.3842674 ],
       [0.48479517],
       [0.22090978],
       [0.48479517],
       [0.40939935],
       [0.32143755],
       [0.48479517],
       [0.43453129],
       [0.07011812],
       [0.37798442],
       [0.28373963],
       [0.3842674 ],
       [0.53505906],
       [0.12038201],
       [0.6481528 ],
       [0.33400352],
       [0.4722292 ],
       [0.33400352],
       [0.01985423],
       [0.00728826],
       [0.77381252],
       [0.18321186],
       [0.00515205],
       [0.28373963],
       [0.22090978],
       [0.48479517],
       [0.25860769],
       [0.39683338],
       [0.24604172],
       [0.19577783],
       [0.37170143],
       [0.4282483 ],
       [0.2083438 ],
       [0.52249309],
       [0.43453129],
       [0.34656949],
       [0.04498618],
       [0.92460417],
       [0.10781603],
       [0.19577783],
       [0.54762503],
       [0.22090978],
       [0.560191  ],
       [0.63558683],
       [0.2963056 ],
       [0.50992712],
       [0.25860769],
       [0.59788892],
       [0.2963056 ],
       [0.52249309],
       [0.33400352],
       [0.3842674 ],
       [0.04498618],
       [0.32143755],
       [0.58532295],
       [0.40939935],
       [0.58532295],
       [0.34656949],
       [0.18321186],
       [0.24604172],
       [0.23347575],
       [0.69841669],
       [0.30887158],
       [0.40939935],
       [0.27117366],
       [0.34656949],
       [0.30887158],
       [0.48479517],
       [0.33400352],
       [0.23347575],
       [0.32143755],
       [0.39683338]])

## STANDARED SCALER

In [14]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc=StandardScaler()

In [19]:
x_fare_index = df[['fare']]

In [20]:
x_fare_index

        fare
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
..       ...
885  29.1250
886  13.0000
887  30.0000
889  30.0000
890   7.7500

[714 rows x 1 columns]

In [17]:
x_fare = df[['fare']].values

In [18]:
x_fare

array([[  7.25  ],
       [ 71.2833],
       [  7.925 ],
       [ 53.1   ],
       [  8.05  ],
       [ 51.8625],
       [ 21.075 ],
       [ 11.1333],
       [ 30.0708],
       [ 16.7   ],
       [ 26.55  ],
       [  8.05  ],
       [ 31.275 ],
       [  7.8542],
       [ 16.    ],
       [ 29.125 ],
       [ 18.    ],
       [ 26.    ],
       [ 13.    ],
       [  8.0292],
       [ 35.5   ],
       [ 21.075 ],
       [ 31.3875],
       [263.    ],
       [ 27.7208],
       [ 10.5   ],
       [ 82.1708],
       [ 52.    ],
       [  8.05  ],
       [ 18.    ],
       [ 11.2417],
       [  9.475 ],
       [ 21.    ],
       [ 41.5792],
       [  7.8792],
       [ 17.8   ],
       [ 39.6875],
       [  7.8   ],
       [ 76.7292],
       [ 26.    ],
       [ 61.9792],
       [ 10.5   ],
       [  7.2292],
       [ 27.75  ],
       [ 46.9   ],
       [  7.2292],
       [ 80.    ],
       [ 83.475 ],
       [ 27.9   ],
       [ 10.5   ],
       [  8.1583],
       [  7.925 ],
       [  8.6625],
       [ 10.5   ],
       [ 46.9   ],
       [ 73.5   ],
       [ 14.4542],
       [ 56.4958],
       [  7.65  ],
       [ 29.    ],
       [ 12.475 ],
       [  9.    ],
       [  9.5   ],
       [ 47.1   ],
       [ 10.5   ],
       [ 15.85  ],
       [ 34.375 ],
       [263.    ],
       [  8.05  ],
       [  8.05  ],
       [  7.8542],
       [ 61.175 ],
       [ 20.575 ],
       [  7.25  ],
       [ 34.6542],
       [ 63.3583],
       [ 23.    ],
       [ 26.    ],
       [  7.8958],
       [ 77.2875],
       [  8.6542],
       [  7.925 ],
       [  7.8958],
       [  7.65  ],
       [  7.8958],
       [ 52.    ],
       [ 14.4542],
       [  8.05  ],
       [  9.825 ],
       [ 14.4583],
       [  7.925 ],
       [  7.75  ],
       [ 21.    ],
       [247.5208],
       [ 31.275 ],
       [ 73.5   ],
       [ 30.0708],
       [ 13.    ],
       [ 77.2875],
       [ 11.2417],
       [  7.1417],
       [  6.975 ],
       [  7.8958],
       [  7.05  ],
       [ 14.5   ],
       [ 26.    ],
       [ 13.    ],
       [ 15.0458],
       [ 26.2833],
       [ 53.1   ],
       [  9.2167],
       [ 79.2   ],
       [  7.75  ],
       [ 15.85  ],
       [  6.75  ],
       [ 11.5   ],
       [ 36.75  ],
       [  7.7958],
       [ 34.375 ],
       [ 26.    ],
       [ 13.    ],
       [ 12.525 ],
       [ 66.6   ],
       [  8.05  ],
       [ 14.5   ],
       [ 61.3792],
       [  7.7333],
       [  8.05  ],
       [ 16.1   ],
       [ 15.75  ],
       [  7.775 ],
       [  8.6625],
       [ 39.6875],
       [ 20.525 ],
       [ 27.9   ],
       [ 56.4958],
       [ 33.5   ],
       [ 29.125 ],
       [ 11.1333],
       [  7.925 ],
       [ 30.6958],
       [  7.8542],
       [ 28.7125],
       [ 13.    ],
       [  0.    ],
       [ 31.3875],
       [ 39.    ],
       [ 22.025 ],
       [ 26.55  ],
       [ 15.5   ],
       [  7.8958],
       [ 13.    ],
       [ 13.    ],
       [  7.8542],
       [ 26.    ],
       [ 27.7208],
       [146.5208],
       [  8.4042],
       [ 13.    ],
       [  9.5   ],
       [  6.4958],
       [  7.225 ],
       [  8.05  ],
       [ 10.4625],
       [ 15.85  ],
       [ 18.7875],
       [  7.75  ],
       [ 31.    ],
       [  7.05  ],
       [ 21.    ],
       [  7.25  ],
       [ 13.    ],
       [113.275 ],
       [  7.925 ],
       [ 27.    ],
       [ 76.2917],
       [ 10.5   ],
       [  8.05  ],
       [ 13.    ],
       [  8.05  ],
       [ 90.    ],
       [  9.35  ],
       [ 10.5   ],
       [  7.25  ],
       [ 13.    ],
       [ 83.475 ],
       [  7.775 ],
       [ 13.5   ],
       [ 31.3875],
       [ 10.5   ],
       [ 26.    ],
       [ 26.25  ],
       [ 10.5   ],
       [ 12.275 ],
       [ 10.5   ],
       [  7.125 ],
       [  7.225 ],
       [ 90.    ],
       [  7.775 ],
       [ 14.5   ],
       [ 52.5542],
       [ 26.    ],
       [ 10.4625],
       [ 26.55  ],
       [ 16.1   ],
       [ 20.2125],
       [ 15.2458],
       [ 86.5   ],
       [512.3292],
       [ 26.    ],
       [ 31.3875],
       [ 79.65  ],
       [  0.    ],
       [ 10.5   ],
       [ 39.6875],
       [  7.775 ],
       [153.4625],
       [135.6333],
       [  0.    ],
       [ 19.5   ],
       [ 29.7   ],
       [ 77.9583],
       [  7.75  ],
       [ 29.125 ],
       [ 20.25  ],
       [  7.75  ],
       [  7.8542],
       [  9.5   ],
       [  8.05  ],
       [  8.6625],
       [  9.5   ],
       [  7.8958],
       [ 13.    ],
       [  7.75  ],
       [ 78.85  ],
       [ 91.0792],
       [ 12.875 ],
       [  8.85  ],
       [  7.8958],
       [  7.2292],
       [151.55  ],
       [247.5208],
       [  0.    ],
       [151.55  ],
       [108.9   ],
       [ 24.    ],
       [ 56.9292],
       [ 83.1583],
       [262.375 ],
       [ 26.    ],
       [  7.8958],
       [ 26.25  ],
       [  7.8542],
       [ 26.    ],
       [ 14.    ],
       [164.8667],
       [134.5   ],
       [  7.25  ],
       [  7.8958],
       [ 12.35  ],
       [ 29.    ],
       [135.6333],
       [  6.2375],
       [ 13.    ],
       [ 20.525 ],
       [ 57.9792],
       [ 28.5   ],
       [153.4625],
       [ 18.    ],
       [ 66.6   ],
       [134.5   ],
       [  8.05  ],
       [ 35.5   ],
       [ 26.    ],
       [263.    ],
       [ 13.    ],
       [ 13.    ],
       [ 13.    ],
       [ 13.    ],
       [ 13.    ],
       [ 15.9   ],
       [  8.6625],
       [  9.225 ],
       [  7.2292],
       [ 17.8   ],
       [  9.5   ],
       [ 55.    ],
       [ 13.    ],
       [ 27.9   ],
       [ 27.7208],
       [ 14.4542],
       [  7.05  ],
       [  7.25  ],
       [ 75.25  ],
       [ 69.3   ],
       [ 55.4417],
       [  6.4958],
       [  8.05  ],
       [135.6333],
       [ 21.075 ],
       [  7.25  ],
       [211.5   ],
       [  4.0125],
       [  7.775 ],
       [227.525 ],
       [ 15.7417],
       [  7.925 ],
       [ 52.    ],
       [ 73.5   ],
       [ 46.9   ],
       [ 13.    ],
       [ 12.    ],
       [120.    ],
       [  7.7958],
       [  7.925 ],
       [113.275 ],
       [ 16.7   ],
       [  7.7958],
       [  7.8542],
       [ 26.    ],
       [ 10.5   ],
       [ 12.65  ],
       [  7.925 ],
       [  8.05  ],
       [  9.825 ],
       [ 15.85  ],
       [  8.6625],
       [ 21.    ],
       [  7.75  ],
       [ 18.75  ],
       [  7.775 ],
       [ 90.    ],
       [  7.925 ],
       [ 32.5   ],
       [ 13.    ],
       [ 13.    ],
       [ 24.15  ],
       [  7.7333],
       [  7.875 ],
       [ 14.4   ],
       [ 20.2125],
       [ 26.    ],
       [ 26.    ],
       [  8.05  ],
       [ 26.55  ],
       [ 26.    ],
       [  7.125 ],
       [ 55.9   ],
       [120.    ],
       [ 34.375 ],
       [ 18.75  ],
       [263.    ],
       [ 10.5   ],
       [ 26.25  ],
       [  9.5   ],
       [  7.775 ],
       [ 13.    ],
       [ 81.8583],
       [ 19.5   ],
       [ 26.55  ],
       [ 19.2583],
       [ 30.5   ],
       [ 27.75  ],
       [ 27.75  ],
       [ 89.1042],
       [  7.8958],
       [ 26.55  ],
       [ 10.5   ],
       [ 26.55  ],
       [  8.05  ],
       [ 38.5   ],
       [ 13.    ],
       [  7.05  ],
       [ 26.55  ],
       [ 19.2583],
       [  8.6625],
       [ 27.75  ],
       [ 13.7917],
       [  9.8375],
       [ 21.    ],
       [  7.0458],
       [  7.5208],
       [ 12.2875],
       [ 46.9   ],
       [  8.05  ],
       [  9.5875],
       [ 91.0792],
       [ 90.    ],
       [ 29.7   ],
       [  8.05  ],
       [ 15.9   ],
       [  7.25  ],
       [ 30.5   ],
       [ 49.5042],
       [  8.05  ],
       [ 78.2667],
       [151.55  ],
       [  7.7958],
       [  8.6625],
       [  7.75  ],
       [  9.5875],
       [ 86.5   ],
       [108.9   ],
       [ 26.    ],
       [ 22.525 ],
       [ 56.4958],
       [  7.75  ],
       [ 26.2875],
       [ 59.4   ],
       [  7.4958],
       [ 34.0208],
       [ 10.5   ],
       [ 26.    ],
       [  7.8958],
       [ 93.5   ],
       [  7.8958],
       [ 57.9792],
       [  7.75  ],
       [ 10.5   ],
       [  7.925 ],
       [ 11.5   ],
       [ 26.    ],
       [  7.2292],
       [  8.6625],
       [ 26.25  ],
       [ 26.55  ],
       [106.425 ],
       [ 49.5   ],
       [ 71.    ],
       [ 31.275 ],
       [ 31.275 ],
       [ 26.    ],
       [106.425 ],
       [ 26.    ],
       [ 26.    ],
       [ 20.525 ],
       [ 36.75  ],
       [110.8833],
       [ 26.    ],
       [  7.225 ],
       [  7.775 ],
       [ 26.55  ],
       [ 39.6   ],
       [ 79.65  ],
       [ 17.4   ],
       [  7.8958],
       [ 13.5   ],
       [ 24.15  ],
       [  7.8958],
       [ 21.075 ],
       [  7.8542],
       [ 10.5   ],
       [ 51.4792],
       [ 26.3875],
       [  8.05  ],
       [ 14.5   ],
       [ 13.    ],
       [ 55.9   ],
       [  7.925 ],
       [ 30.    ],
       [110.8833],
       [ 26.    ],
       [ 40.125 ],
       [ 79.65  ],
       [ 15.    ],
       [ 79.2   ],
       [  8.05  ],
       [  7.125 ],
       [ 78.2667],
       [  7.25  ],
       [ 26.    ],
       [ 24.15  ],
       [  0.    ],
       [ 56.9292],
       [ 27.    ],
       [  8.05  ],
       [ 26.55  ],
       [ 15.55  ],
       [  7.8958],
       [ 30.5   ],
       [ 41.5792],
       [153.4625],
       [ 31.275 ],
       [  8.05  ],
       [ 65.    ],
       [ 14.4   ],
       [ 16.1   ],
       [ 39.    ],
       [ 10.5   ],
       [ 14.4542],
       [ 52.5542],
       [ 15.7417],
       [  7.8542],
       [ 16.1   ],
       [ 32.3208],
       [ 12.35  ],
       [ 77.9583],
       [  7.8958],
       [ 30.    ],
       [  7.0542],
       [ 30.5   ],
       [ 27.9   ],
       [ 13.    ],
       [  7.925 ],
       [ 26.25  ],
       [ 39.6875],
       [  7.8542],
       [ 69.3   ],
       [ 27.9   ],
       [ 19.2583],
       [ 76.7292],
       [  7.8958],
       [ 35.5   ],
       [  7.55  ],
       [ 23.    ],
       [  8.4333],
       [  6.75  ],
       [ 73.5   ],
       [ 15.5   ],
       [ 13.    ],
       [113.275 ],
       [133.65  ],
       [  7.225 ],
       [ 25.5875],
       [  7.4958],
       [  7.925 ],
       [ 73.5   ],
       [ 13.    ],
       [  8.05  ],
       [ 39.    ],
       [ 52.    ],
       [ 10.5   ],
       [ 13.    ],
       [  7.775 ],
       [  8.05  ],
       [  9.8417],
       [ 46.9   ],
       [512.3292],
       [ 76.7292],
       [  9.225 ],
       [ 46.9   ],
       [ 39.    ],
       [ 41.5792],
       [ 39.6875],
       [ 10.1708],
       [  7.7958],
       [211.3375],
       [ 57.    ],
       [ 13.4167],
       [  7.225 ],
       [ 26.55  ],
       [ 13.5   ],
       [  8.05  ],
       [110.8833],
       [  7.65  ],
       [227.525 ],
       [ 26.2875],
       [ 14.4542],
       [  7.7417],
       [  7.8542],
       [ 26.    ],
       [ 13.5   ],
       [ 26.2875],
       [151.55  ],
       [ 49.5042],
       [ 52.    ],
       [  9.4833],
       [ 13.    ],
       [  7.65  ],
       [227.525 ],
       [ 10.5   ],
       [  7.775 ],
       [ 33.    ],
       [  7.0542],
       [ 13.    ],
       [ 13.    ],
       [ 53.1   ],
       [  8.6625],
       [ 21.    ],
       [ 26.    ],
       [  7.925 ],
       [211.3375],
       [ 18.7875],
       [ 13.    ],
       [ 13.    ],
       [ 16.1   ],
       [ 34.375 ],
       [512.3292],
       [ 78.85  ],
       [262.375 ],
       [ 16.1   ],
       [  7.925 ],
       [ 71.    ],
       [ 20.25  ],
       [ 13.    ],
       [ 53.1   ],
       [  7.75  ],
       [ 23.    ],
       [ 12.475 ],
       [  9.5   ],
       [  7.8958],
       [ 65.    ],
       [ 14.5   ],
       [  7.7958],
       [ 11.5   ],
       [  8.05  ],
       [ 86.5   ],
       [  7.125 ],
       [  7.2292],
       [120.    ],
       [  7.775 ],
       [ 77.9583],
       [  7.75  ],
       [  8.3625],
       [  9.5   ],
       [  7.8542],
       [ 10.5   ],
       [ 23.    ],
       [  7.75  ],
       [ 12.475 ],
       [211.3375],
       [  7.2292],
       [ 57.    ],
       [ 30.    ],
       [  7.05  ],
       [  7.25  ],
       [  7.4958],
       [ 29.125 ],
       [ 20.575 ],
       [ 79.2   ],
       [ 26.    ],
       [  7.8958],
       [ 13.    ],
       [ 25.9292],
       [  8.6833],
       [  7.2292],
       [ 24.15  ],
       [ 13.    ],
       [ 26.25  ],
       [120.    ],
       [  8.5167],
       [  6.975 ],
       [  7.775 ],
       [  0.    ],
       [  7.775 ],
       [ 13.    ],
       [ 53.1   ],
       [  7.8875],
       [ 24.15  ],
       [ 10.5   ],
       [ 31.275 ],
       [  8.05  ],
       [  7.925 ],
       [ 37.0042],
       [  6.45  ],
       [ 27.9   ],
       [ 93.5   ],
       [  8.6625],
       [  0.    ],
       [ 12.475 ],
       [ 39.6875],
       [ 37.0042],
       [ 80.    ],
       [ 14.4542],
       [ 18.75  ],
       [  7.8542],
       [  8.3   ],
       [ 83.1583],
       [  8.6625],
       [ 56.4958],
       [  7.925 ],
       [ 10.5   ],
       [ 31.    ],
       [  6.4375],
       [  8.6625],
       [  7.55  ],
       [  7.8958],
       [ 33.    ],
       [ 31.275 ],
       [  7.775 ],
       [ 15.2458],
       [ 39.4   ],
       [ 26.    ],
       [  9.35  ],
       [164.8667],
       [ 26.55  ],
       [ 19.2583],
       [ 14.1083],
       [ 11.5   ],
       [ 25.9292],
       [ 13.    ],
       [ 13.    ],
       [ 13.8583],
       [ 50.4958],
       [ 11.1333],
       [  7.8958],
       [ 52.5542],
       [  5.    ],
       [  9.    ],
       [ 24.    ],
       [  7.225 ],
       [  9.8458],
       [  7.8958],
       [ 83.1583],
       [ 26.    ],
       [  7.8958],
       [ 10.5167],
       [ 10.5   ],
       [  7.05  ],
       [ 29.125 ],
       [ 13.    ],
       [ 30.    ],
       [ 30.    ],
       [  7.75  ]])